@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To my Web Site Sample1</p><br>
    This is a sample application in ASP
</div>
